nav{
    /* position: fixed; */
    height: 6rem;
    width: 100vw;
    z-index: 99;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    padding: 30px 10%;
    /* justify-content: space-between; */
    background: transparent;
    transition: all .50s ease;
    background-color: #32CD32;
}

.nav__toggle-btn{
    display: none;
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    display: flex;
    align-items: center;
    color: var(--other-color);
    font-size: 27px;
    font-weight: 700;
}

span{
    color: var(--black);
}

.nav__links{
    display: flex;
    gap: 2.5rem;
}
.nav__links a{
    color: var(--text-color);
    font-size: 19px;
    font-weight: 600;
    margin: 0 30px;
    transition: all .50s ease;
}

.nav__links a:hover{
    transition: var(--transition);
    color: var(--other-color);
}

.active-nav{
    position: relative;
}

.active-nav::after{
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    background: #32CD32;
    position: absolute;
    left: calc(50% - 0.6rem);
    transform: rotate(45deg);
    margin-top: 0.5rem;
}

/* Media Queries */

@media screen and (max-width : 1024px){
    .nav__toggle-btn{
        display: inline-block;
        font-size: 1.8rem;
        background: transparent;
        cursor: pointer;
    }
    .nav__toggle-btn svg{
        color: var(--text-color);

    }

    .nav__links{
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        perspective: 400px;
    }
    .active-nav, .active-nav::after{
        display: none;
    }
    .nav__links li{
        height: 4rem;
        width: 100%;
        transform: rotateX(90deg);
        animation: navAnimation 600ms ease forwards;
        opacity: 0;
        transform-origin: top;
        box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.4);
    }
    .nav__links li :nth-child(2){
        animation-delay: 200ms;
    }
    .nav__links li :nth-child(3){
        animation-delay: 400ms;
    }
    .nav__links li :nth-child(4){
        animation-delay: 600ms;
    }
    .nav__links li :nth-child(5){
        animation-delay: 800ms;
    }
    .nav__links li :nth-child(6){
        animation-delay: 1s;
    }
    .nav__links li :nth-child(7){
        animation-delay: 1.2s;
    }
    @keyframes navAnimation{
        to{
            transform: rotateX(0);
            opacity: 1;
        }
    }
    .nav__links li a{
        /* background-color: grey; */
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
    }
    .show__nav{
        display: flex;
    }
    .hide__Nav{
        display: none;
    }
}